# Ignore all folder files
.DS_Store

# Ignore .gitignore files

# Ignore temp files
tmp/

# Ignore key files
payloads/id_rsa_github
payloads/id_rsa_github.pub
payloads/id_rsa_backup
payloads/id_rsa_backup.pub

# Ignore log file
log
payloads/log

# Ignore the critical information file
critical_information.txt
